/*#img1 #img2 {
	float: left;
	max-width: 200px;
	max-height: 200px;
}

#img1 {
	float: left;
}
#img2 {
	float: right;
}*/

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px dashed orange;
  /*justify-content: space-between;*/
}

.child {
  border: 1px solid blue;
  text-align: center;
}

#box_one, #box_three, #box_two {
  flex-grow: 1;
}

/*#box_two {
  flex-grow: 2;
}*/